
@{
    ViewData["Title"] = "Chartjs";
}

<center><h1>Graficas con Chart js</h1></center>
<center>
    <div style="width: 60%; height: 40%; color: white;">
        <canvas id="MiGrafica"></canvas>
    </div>
</center>
<script src="~/js/Chart.js"></script>


