
@{
    ViewData["Title"] = "QrCode";
}

<center>
    <div class="row align-items-center mt-5">
        <div class="col">
            <input class="form-control" id="text" type="text" value="Hola Mundo" style="width:80%" /><br /><div id="qrcode"></div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <div id="qrcode" style=" width:160px; height:160px; margin-top:15px;"></div>
        </div>
    </div>
</center>
<script src="~/js/QrCode.js"></script>

